In [1]:
import getpass
password = getpass.getpass()

In [2]:
import pymysql

cnx = pymysql.connect(user='root', password= password,
                      host='localhost', database='ih_gambling')
if cnx.open:
    print("Connection success")
else:
    print("Connection did not succeeded")

Connection success

In [3]:
# the object which will interact with the database
cursor = cnx.cursor()

Read data from ih_gambling database

In [5]:
#Execute the Query
account_query = "SELECT * FROM ih_gambling.account;"
betting_query = "SELECT * FROM ih_gambling.betting;"
customer_query = "SELECT * FROM ih_gambling.customer;"
product_query = "SELECT * FROM ih_gambling.product;"

In [6]:
cursor.execute(account_query)
# The query has been exectued at this point, but the results are still in the cursor
result = cursor.fetchall()
for element in result:
    print(element)

print(type(result))

# this object returns to you the metadata of the selected table
cursor.description
# returns the METADATA

('00357DG   ', 3531845, 'GIB', 'GBP', 0, 1.0, 'GM')
('00497XG   ', 4188499, 'GIB', 'GBP', 0, 1.0, 'SB')
('00692VS   ', 4704925, 'GIB', 'USD', 0, 2.0, 'SB')
('00775SM   ', 2815836, 'GIB', 'USD', 0, 1.0, 'SB')
('00C017    ', 889782, 'GIB', 'GBP', 1500, 0.41, 'XX')
('00J381    ', 1191874, 'GIB', 'GBP', 500, 8.0, 'XX')
('01148BP   ', 1569944, 'GIB', 'GBP', 0, 8.0, 'XX')
('01152SJ   ', 1965214, 'GIB', 'USD', 0, 1.0, 'PO')
('01196ZZ   ', 3042166, 'GIB', 'EUR', 0, 8.0, 'SB')
('01284UW   ', 5694730, 'GIB', 'GBP', 0, 1.0, 'SB')
<class 'tuple'>

(('AccountNo', 252, None, 262140, 262140, 0, True),
 ('CustId', 3, None, 11, 11, 0, True),
 ('AccountLocation', 252, None, 262140, 262140, 0, True),
 ('CurrencyCode', 252, None, 262140, 262140, 0, True),
 ('DailyDepositLimit', 3, None, 11, 11, 0, True),
 ('StakeScale', 5, None, 22, 22, 31, True),
 ('SourceProd', 252, None, 262140, 262140, 0, True))

LOAD DATA IN PANDAS

In [7]:
result

(('00357DG   ', 3531845, 'GIB', 'GBP', 0, 1.0, 'GM'),
 ('00497XG   ', 4188499, 'GIB', 'GBP', 0, 1.0, 'SB'),
 ('00692VS   ', 4704925, 'GIB', 'USD', 0, 2.0, 'SB'),
 ('00775SM   ', 2815836, 'GIB', 'USD', 0, 1.0, 'SB'),
 ('00C017    ', 889782, 'GIB', 'GBP', 1500, 0.41, 'XX'),
 ('00J381    ', 1191874, 'GIB', 'GBP', 500, 8.0, 'XX'),
 ('01148BP   ', 1569944, 'GIB', 'GBP', 0, 8.0, 'XX'),
 ('01152SJ   ', 1965214, 'GIB', 'USD', 0, 1.0, 'PO'),
 ('01196ZZ   ', 3042166, 'GIB', 'EUR', 0, 8.0, 'SB'),
 ('01284UW   ', 5694730, 'GIB', 'GBP', 0, 1.0, 'SB'))

In [8]:
import pandas as pd

col_names = [header[0] for header in cursor.description]
account = pd.DataFrame(result, columns = col_names)
account.head()
# and now its the usual pandas game.

,AccountNo,CustId,AccountLocation,CurrencyCode,DailyDepositLimit,StakeScale,SourceProd
0,00357DG,3531845,GIB,GBP,0,1.00,GM
1,00497XG,4188499,GIB,GBP,0,1.00,SB
2,00692VS,4704925,GIB,USD,0,2.00,SB
3,00775SM,2815836,GIB,USD,0,1.00,SB
4,00C017,889782,GIB,GBP,1500,0.41,XX

In [9]:
account.describe

<bound method NDFrame.describe of     AccountNo   CustId AccountLocation CurrencyCode  DailyDepositLimit  \
0  00357DG     3531845             GIB          GBP                  0
1  00497XG     4188499             GIB          GBP                  0
2  00692VS     4704925             GIB          USD                  0
3  00775SM     2815836             GIB          USD                  0
4  00C017       889782             GIB          GBP               1500
5  00J381      1191874             GIB          GBP                500
6  01148BP     1569944             GIB          GBP                  0
7  01152SJ     1965214             GIB          USD                  0
8  01196ZZ     3042166             GIB          EUR                  0
9  01284UW     5694730             GIB          GBP                  0

   StakeScale SourceProd
0        1.00         GM
1        1.00         SB
2        2.00         SB
3        1.00         SB
4        0.41         XX
5        8.00         XX
6        8.00         XX
7        1.00         PO
8        8.00         SB
9        1.00         SB  >

In [10]:
account.nunique()

AccountNo            10
CustId               10
AccountLocation       1
CurrencyCode          3
DailyDepositLimit     3
StakeScale            4
SourceProd            4
dtype: int64

In [11]:
account.set_index("AccountNo", inplace=True)  # 'id' es tu clave primaria

In [12]:
account.head()

,CustId,AccountLocation,CurrencyCode,DailyDepositLimit,StakeScale,SourceProd
AccountNo,,,,,,
00357DG,3531845,GIB,GBP,0,1.00,GM
00497XG,4188499,GIB,GBP,0,1.00,SB
00692VS,4704925,GIB,USD,0,2.00,SB
00775SM,2815836,GIB,USD,0,1.00,SB
00C017,889782,GIB,GBP,1500,0.41,XX

In [13]:
cnx.commit()